*{
    box-shadow: inset 0px 0px 1px rgba(255, 0, 0, 1);
}

.navigation{
    background-color: #ff0000da;
    color: white;
}

.store{
    margin-bottom: 80px;
}

.footer-main{
    background-color: #4b4b4bc5;
    color: white;
}

.navigation-link{
    text-decoration: none;
    color: white;
    margin: 0px 5px;
}

.navigation-link:hover{
    text-decoration: underline;
    color: white;
    margin: 0px 5px;
}